$body_color: grey;
$color_anclas: #B54E19;
$color_anclas_active: #A3B9AD;
$background_color: white;
$h1_color: #873E21;


main{
    margin-top: 200px;
    margin-bottom: 80px;

  
    .seccion_contacto{
        display: block;
        justify-content: center;
        padding: 64px;
    }

    .contacto{
        padding: 128px;
        margin-left: 200px;
        margin-right: 200px;
        text-align: center;
    }

    h1{
    color: $h1_color;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Playfair Display';
    }

    a{
    text-decoration: none;
    color: $color_anclas;
    }
    
    p{
        font-family: 'montserrat';
        color: $body_color;
    }

    @media (min-width: 350px) and (max-width: 768px){

        .contacto{
            padding: 32px;
            margin: 0px;
        }        
    }
    
    @media (min-width: 768px) and (max-width: 992px){
        .contacto{
            padding: 64px;
            margin: 0px;
        }
    }

}